* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

body {
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
}

form {
    width: 40rem;
    height: 40rem;
    text-align: center;
    background-color: azure;
}

.caja-email,
.caja-contraseña,
.caja-contrato
{
    width: 100%;
    height: 10rem;
}